:root{
    margin:0 auto;
    background-color: grey;
}
body{
    width: 30vw;
    height: 33vw;
    text-align: center;
    margin-top: 2.5vw;
    margin-left: 36vw;
    background-color: white;
    border-radius: 1.6vw;
}
h1{
    padding-top: 5.2vw;
    font-weight: normal;
    font-size: 2vw;
}
form p{
    width: 25vw;
    font-size: 1vw;
    text-align: left;
    padding-top: 1vw;
    margin-left: 2.5vw;
    border-bottom: 2px solid grey;
    opacity:0.5;
}
p>input{
    width: 100%;
    padding-bottom: 1vw;
    border:none;
    font-size: 1.5vw;
}
#pass{
    background-image: url('./yes.png');
    background-position: right;
    background-repeat: no-repeat no-repeat;
}
div input{
    width: 80%;
    padding: 1vw;
    border-radius: 2.5vw;
    margin-top: 2.5vw;
    font-size: 1.2vw;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color:white;
    border:none;
    background: linear-gradient(to right, #28d5fd, #b523ff);
    cursor: pointer;
}
p{
    padding-top: 5vw;
    font-size: 0.9vw;
}
p a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}